<form name="myForm" enctype="multipart/form-data">
<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" >{{modalTitle}}</h4>
        <small class="font-bold"></small>
    </div>
    <div class="modal-body" >
        <div class="form-group">Are you sure to delete?</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-no-delete" ng-click="cancel()">No</button>
        <button type="button" class="btn-yes-delete" ng-click="okDel()">Yes</button>
    </div>
</div>
</form>