<div id="header">
    <div class="top">
        <div class="row">
            <div class="col-lg-4 col-md-5 v-align">
                <p>
                    Customer Service  0020 822 9671
                </p>
            </div>
            <div class="col-lg-4 col-md-2 v-align">
                <div class="logo-section">
                    <a href="/"><img src="../../style/img/logo.png"/></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 v-align">
                <ul class="rightMenu">
                    <li>EN <i class="fa fa-chevron-down"></i></li>
                    <li>USD <i class="fa fa-chevron-down"></i></li>
                    <li><i class="fa fa-search"></i></li>
                    <li><i class="fa fa-user"></i></li>
                    <li><i class="fa fa-shopping-cart"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom v-align">
        <ul>
            <li>Woman <i class="fa fa-chevron-down"></i></li>
            <li>Man <i class="fa fa-chevron-down"></i></li>
            <li>Kids <i class="fa fa-chevron-down"></i></li>
            <li>Home <i class="fa fa-chevron-down"></i></li>
            <li>Sale</li>
            <li>Magazine</li>
        </ul>
    </div>
</div>